<!--一本二手书信息-->
<ion-view ng-controller="book_oneUsedBook" view-title="求书 {{usedBook.attributes.title}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.book_searchList">寻书</button>
    </ion-nav-buttons>
    <ion-content>
        <!-- 图书基本信息-->
        <div class="list card">
            <ion-item ng-if="usedBook.attributes.image" style="text-align: center">
                <img ng-src="{{usedBook.attributes.image}}" style="height: 180px"
                     ng-click="WeChatJS$.previewOneImage(usedBook.attributes.image)">
            </ion-item>
            <ion-item ui-sref="tab.book_oneBook({isbn13:usedBook.attributes.isbn13})">
                <h3>书名:{{usedBook.attributes.title}}</h3>

                <p>最高承受价:{{usedBook.attributes.price}}</p>

                <p>发布时间:{{usedBook.updatedAt | date:'mediumDate' }}</p>

                <p ng-if="usedBook.attributes.des" style="white-space: pre-wrap">附加描述:{{usedBook.attributes.des}}</p>
            </ion-item>
        </div>
        <!-- 主人信息-->
        <div class="list card">
            <ion-item class="item-divider item-button-right">求书同学信息
                <a class="button button-clear button-balanced" style="top: 0"
                   ui-sref="tab.person_sendMsgToUser({receiverObjectId:usedBook.attributes.owner.id,usedBookObjectId:usedBookObjectId,role:'buy',inboxType:'private'})">私信主人
                </a>
            </ion-item>
            <user-info user="usedBook.attributes.owner" used-book-object-id="usedBook.id"></user-info>
        </div>
        <!-- 用户评论-->
        <div class="list card">
            <ion-item class="item-divider item-button-right">大家都说
                <a class="button button-clear button-balanced" style="top: 0"
                   ui-sref="tab.person_sendMsgToUser({receiverObjectId:usedBook.attributes.owner.id,usedBookObjectId:usedBookObjectId,role:'buy',inboxType:'reviewUsedBook'})">我也要说
                </a>
            </ion-item>
            <ion-item ng-if="statusList.length==0">还没有同学评论,快来抢沙发~</ion-item>
            <ion-item class="item-avatar" ng-repeat="status in statusList">
                <img ng-src="{{status.attributes.source.avatarUrlWithSize(64)}}"
                     ui-sref="tab.userHome({ownerId:status.attributes.source.id})">

                <h2 style="white-space: pre-wrap">{{status.attributes.message}}</h2>

                <p>{{status.updatedAt | date:'mediumDate'}}</p>
                <img style="width: 40px;height: 40px;position: absolute;top: 16px;right: 16px;border-radius: 50%;"
                     ui-sref="tab.userHome({ownerId:status.attributes.to.id})"
                     ng-src="{{status.attributes.source.avatarUrlWithSize(64)}}">
            </ion-item>
        </div>
    </ion-content>
</ion-view>