<!--一本二手书-->
<ion-item class="item-thumbnail-left" ui-sref="book.one-used-book({usedBookAvosObjectId:usedBook.id})">
    <img ng-if="usedBook.attributes.bookInfo.attributes.image"
         ng-src="{{usedBook.attributes.bookInfo.attributes.image}}">

    <h3 ng-if="usedBook.attributes.bookInfo.attributes.title"
        ng-bind="usedBook.attributes.bookInfo.attributes.title"></h3>

    <p>要价:<strong ng-bind="usedBook.attributes.price"></strong></p>

    <p>时间:<strong ng-bind="usedBook.updatedAt | date:'mediumDate'"></strong></p>

    <p ng-if="usedBook.attributes.des">描述:<em ng-bind="usedBook.attributes.des"></em></p>
    <button style="border: none;position: absolute;top: 0;right: 0;width: 100%;height: 100%;background-color: rgba(202, 202, 202, 0.5);font-size: xx-large"
            ng-if="!usedBook.attributes.alive">
        已买
    </button>
</ion-item>