<ion-user-info user="status.attributes.source" hide-used-book="true" hide-action-buttons="true"></ion-user-info>
<ion-one-used-book ng-if="status.attributes.usedBook" used-book="status.attributes.usedBook"></ion-one-used-book>
<ion-item>
    <div ng-if="status.attributes.inboxType==='private'">
        <h3 style="white-space: pre-wrap" ng-bind="status.attributes.message"></h3>
        <button style="float:right;"
                class="button button-clear button-balanced button-small"
                ui-sref="person.send-msg-to-user({receiverObjectId:status.attributes.source.id,role:status.attributes.role=='buy' ? 'sell' : 'buy',inboxType:'private',usedBookObjectId:status.attributes.usedBook.id})">
            回复私信
        </button>
    </div>
    <div ng-if="status.attributes.inboxType==='reviewUsedBook'">
        <h3 style="white-space: pre-wrap" ng-bind="status.attributes.message"></h3>
        <button style="float:right;"
                class="button button-clear button-balanced button-small"
                ui-sref="person.send-msg-to-user({receiverObjectId:status.attributes.source.id,role:status.attributes.role=='buy' ? 'sell' : 'buy',inboxType:'reviewUsedBook',usedBookObjectId:status.attributes.usedBook.id})">
            回复评论
        </button>
    </div>
    <small style="font-size: x-small;position: absolute;bottom: 5px;left: 16px"
           ng-bind="status.createdAt | date :'yyyy-MM-dd HH:mm:ss'"></small>
</ion-item>
