<!--一本二手书-->
<ion-item class="item-thumbnail-left" ui-sref="book.one-need-book({usedBookAvosObjectId:needBook.id})">
    <img ng-if="needBook.attributes.bookInfo.attributes.image"
         ng-src="{{needBook.attributes.bookInfo.attributes.image}}">

    <h3 ng-if="needBook.attributes.bookInfo.attributes.title"
        ng-bind="needBook.attributes.bookInfo.attributes.title"></h3>

    <p ng-if="needBook.attributes.price">最高承受价:<strong ng-bind="needBook.attributes.price"></strong></p>

    <p>时间:<strong ng-bind="needBook.updatedAt | date:'mediumDate'"></strong></p>

    <p ng-if="needBook.attributes.des">描述:<em ng-bind="needBook.attributes.des"></em></p>

    <button style="border: none;position: absolute;top: 0;right: 0;width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.7);font-size: xx-large"
            ng-if="!needBook.attributes.alive">
        已卖
    </button>
</ion-item>