<div class="modal-header">
    <div class="input-group">
        <input autofocus type="search" class="form-control" placeholder="输入专业"
               ng-model="InfoService$.Major.searchMajorKeyword">
        <span class="input-group-addon" ng-if="InfoService$.Major.isLoading">加载中...</span>
    </div>
</div>
<div class="modal-body">
    <a class="btn btn-default btn-sm" style="margin: 5px"
       ng-repeat="major in InfoService$.Major.majors"
       ng-click="$close(major.attributes.name)"
       ng-bind="major.attributes.name"></a>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">取消</button>
</div>