<div class="modal-header">
    <input autofocus type="search" class="form-control" placeholder="输入名称搜索"
           ng-model="$root.InfoService$.School.searchSchoolKeyword">
</div>
<div class="modal-body">
    <a class="btn btn-default btn-sm" style="margin: 5px"
       ng-repeat="school in $root.InfoService$.School.schools"
       ng-click="$close(school.attributes.name)"
       ng-bind="school.attributes.name"></a>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">取消</button>
</div>