<p ng-if="usedBook.attributes.price">主人要价: <strong ng-bind="usedBook.attributes.price"></strong> 元</p>
<p ng-if="usedBook.attributes.des">主人描述:<em ng-bind="usedBook.attributes.des"></em></p>
<small>上传于:<em ng-bind="usedBook.updatedAt | date:'mediumDate'"></em></small>
<hr>
<h4 ng-bind="usedBook.attributes.bookInfo.attributes.title"></h4>
<p ng-bind="usedBook.attributes.bookInfo.attributes.author.toString()"></p>
<small>
    <em ng-bind="usedBook.attributes.bookInfo.attributes.price"></em> /
    <em ng-bind="usedBook.attributes.bookInfo.attributes.publisher"></em> /
    <em ng-bind="usedBook.attributes.bookInfo.attributes.pubdate"></em>
</small>
<hr>
<small>{{usedBook.attributes.bookInfo.attributes.summary.substr(0,150)}}...</small>