<!DOCTYPE html>
<html lang="zh-CN" ng-app="APP">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <title>{{meta.title}}</title>
    <meta name="keywords" content="{{meta.keywords}}">
    <meta name="description" content="{{meta.description}}">
    <!-- build:Semantic-css -->
    <link href="../../../bower_components/semantic-ui/dist/semantic.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="ui horizontally padded grid" style="padding-top: 75px">

<ng-include src="'../temp/header.html'" d-include-replace></ng-include>

<!-- 主内容区-->
<main class="ui twelve wide column" ng-controller="d_book_recommend">
    <div class="ui grid">

        <div class="ui horizontal divider" ng-if="BookInfo$.LatestBook.books.length>0">
            <a class="ui circular blue button" ng-href="bookList.html?cmd=latest">新书速递</a>
        </div>
        <div class="ui equal height grid">
            <!-- 图书列表-->
            <div class="four column row">
                <d-one-book class="column" ng-repeat="bookInfo in BookInfo$.LatestBook.books.slice(0,8)"
                            book-info="bookInfo"></d-one-book>
            </div>
        </div>

        <div class="ui horizontal divider" ng-if="BookRecommend$.NearUsedBook.usedBooks.length>0">
            <a class="ui circular green button" ng-href="usedBookList.html?cmd=nearUsed">附近卖书</a>
        </div>
        <div class="ui equal height grid" ng-if="BookRecommend$.NearUsedBook.usedBooks.length>0">
            <!-- 图书列表-->
            <div class="four column row">
                <d-one-used-book class="column"
                                 ng-repeat="usedBook in BookRecommend$.NearUsedBook.usedBooks.slice(0,8)"
                                 ng-if="usedBook.attributes.info"
                                 used-book="usedBook"></d-one-used-book>
            </div>
        </div>

        <div class="ui horizontal divider" ng-if="BookRecommend$.NearNeedBook.needBooks.length>0">
            <a class="ui circular orange button" ng-href="usedBookList.html?cmd=nearNeed">附近求书</a>
        </div>
        <div class="ui equal height grid" ng-if="BookRecommend$.NearNeedBook.needBooks.length>0">
            <!-- 图书列表-->
            <div class="four column row">
                <d-one-need-book class="column"
                                 ng-repeat="needBook in BookRecommend$.NearNeedBook.needBooks.slice(0,8)"
                                 ng-if="needBook.attributes.info"
                                 need-book="needBook"></d-one-need-book>
            </div>
        </div>

        <div class="ui horizontal divider" ng-if="BookRecommend$.MajorBook.books.length>0">
            <a class="ui circular blue button" ng-href="bookList.html?cmd=tag&tag={{BookRecommend$.MajorBook.major}}">{{BookRecommend$.MajorBook.major}}</a>
        </div>
        <div class="ui equal height grid" ng-if="BookRecommend$.MajorBook.books.length>0">
            <!-- 图书列表-->
            <div class="four column row">
                <d-one-book class="column" ng-repeat="bookInfo in BookRecommend$.MajorBook.books.slice(0,8)"
                            book-info="bookInfo"></d-one-book>
            </div>
        </div>

    </div>

</main>

<!-- 辅助内容去-->
<aside class="ui four wide column">

    <!-- 附近的用户列表-->
    <ng-include src="'../temp/nearUserList.html'" d-include-replace></ng-include>

</aside>

<ng-include src="'../temp/footer.html'" d-include-replace></ng-include>

<!-- build:jQuery-js -->
<script src="../../../bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->
<!-- build:Semantic-js -->
<script src="../../../bower_components/semantic-ui/dist/semantic.js"></script>
<!-- endbuild -->
<!-- build:Angular-js -->
<script src="../../../bower_components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:Avos-js -->
<script src="../../../bower_components/avoscloud-sdk/dist/av-core.js"></script>
<!-- endbuild -->

<!-- build:Main-js -->
<script src="../../js/util.js"></script>
<script src="../../js/Model.js"></script>
<script src="../js/app.js"></script>
<!--Service-->
<script src="../../js/service/BookRecommend.js"></script>
<script src="../../js/service/BusinessSite.js"></script>
<script src="../../js/service/DoubanBook.js"></script>
<script src="../../js/service/InfoService.js"></script>
<script src="../../js/service/BookInfo.js"></script>
<script src="../../js/service/SearchBook.js"></script>
<script src="../../js/service/Status.js"></script>
<script src="../../js/service/UsedBook.js"></script>
<script src="../../js/service/User.js"></script>
<script src="../../js/service/WeChatJS.js"></script>
<!--Controller-->
<script src="../js/controller/d_partial_NearUser.js"></script>
<script src="../js/controller/d_topBar.js"></script>
<script src="../js/controller/d_book_recommend.js"></script>
<!--Directive-->
<script src="../js/directive/dUserInfo.js"></script>
<script src="../js/directive/dIncludeReplace.js"></script>
<script src="../js/directive/dOneBook.js"></script>
<script src="../js/directive/dOneUsedBook.js"></script>
<script src="../js/directive/dOneNeedBook.js"></script>
<!-- endbuild -->

</body>
</html>