<!-- 提示用户登入-->
<ion-modal-view>
    <ion-header-bar class="item-input-inset">
        <button class="button button-clear button-balanced"
                ng-click="userLoginModalView.hide()">返回
        </button>
        <h2 class="title">进入书循</h2>
    </ion-header-bar>
    <ion-content class="padding has-header" style="text-align: center">
        <hr style="margin: 30px">
        <a class="button button-outline button-balanced" ng-href="{{WeChatJS$.getOAuthURL()}}"
           ng-click="userLoginModalView.hide()">
            进入书循
        </a>
    </ion-content>
</ion-modal-view>
