<!--一本二手书信息-->
<ion-view ng-controller="book_oneUsedBook" title="二手 图书名称">
    <ion-content>
        <!-- 图书基本信息-->
        <div class="list card">
            <ion-item style="text-align: center">
                <img ng-src="{{jsonUsedBook.avosImageFile.url()}}" style="height: 180px">
            </ion-item>
            <ion-item>
                <h3>主人描述</h3>

                <p style="white-space: pre-wrap">{{jsonUsedBook.des}}</p>
            </ion-item>
            <ion-item>
                要价:{{jsonUsedBook.price}}
            </ion-item>
        </div>

        <!-- 主人信息-->
        <div class="list card">
            <ion-item class="item-divider  item-button-right">主人信息
                <a class="button button-clear button-balanced" style="top: 0" ng-href="mailto:{{ownerInfo.email}}">联系主人
                </a>
            </ion-item>
            <div class="item item-avatar" ng-if="ownerInfo">
                <img ng-src="{{ownerInfo.avatarUrl}}">

                <h2>{{ownerInfo.nickName}}
                    <i class="icon ion-male" style="color: #5eb1ed" ng-if="ownerInfo.sex==1"></i>
                    <i class="icon ion-female" style="color: #ff6d9e" ng-if="ownerInfo.sex==2"></i>
                    <i>{{ownerInfo.startSchoolYear}}级</i>
                </h2>

                <p>{{ownerInfo.school}}/{{ownerInfo.major}}</p>
            </div>
            <!-- 主人所有旧书链接-->
            <ion-item ng-if="ownerUsedBookNumber>0"
                      style="padding: 0;text-align: center">
                <a class="button button-small button-clear button-balanced"
                   ui-sref="tab.book_usedBookListByOwner({ownerId:ownerInfo.objectId})">查看主人其它{{ownerUsedBookNumber}}本旧书</a>
            </ion-item>
        </div>
    </ion-content>
</ion-view>