<ion-view title="图书搜索">
    <ion-content ng-controller="book_searchList">
        <ion-list>
            <!-- 关键字输入框-->
            <ion-item class="item-input-inset">
                <button class="button button-small button-clear" ng-click="scanQRBtnOnClick()">扫码
                </button>
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="书名 作者 ISBN" ng-model="SearchBook$.keyword"
                           ng-change="SearchBook$.searchInputOnChange()">
                </label>
                <button class="button button-small button-clear" ng-click="SearchBook$.searchBtnOnClick()">
                    搜索
                </button>
            </ion-item>

            <!-- 搜索结果列表-->
            <ion-item class="item-thumbnail-left" collection-repeat="book in SearchBook$.books"
                      ui-sref="tab.book_oneBook({isbn13:book.isbn13})">
                <img ng-src="{{book.image}}">

                <h2>{{book.title}}</h2>

                <p ng-if="book['publisher']">{{book['publisher']}}/{{book['pubdate']}}</p>

                <p ng-if="book.author">{{book.author.toString()}}</p>

                <p ng-if="book.price">{{book.price}}</p>
            </ion-item>

        </ion-list>
        <ion-infinite-scroll ng-if="SearchBook$.hasMore()"
                             on-infinite="SearchBook$.loadMore()"
                             distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>