<!--编辑一本上传的二手书-->
<ion-view ng-controller="ion_person_editOneUsedBook" view-title="修改我的{{usedBook.attributes.bookInfo.attributes.title}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="person.my">我</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <!-- 图片信息-->
        <div class="list">
            <ion-one-book-info book-info="usedBook.attributes.bookInfo"
                               should-show-used-books-count="true"></ion-one-book-info>
        </div>
        <!-- 其他信息-->
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">价格</span>
                <input type="number" placeholder="人民币 只输入数值" ng-model="usedBook.attributes.price"
                       ng-change="valueHasChange=true">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">描述</span>
                <textarea rows="5" placeholder="这书有什么特别之处" ng-model="usedBook.attributes.des"
                          ng-change="valueHasChange=true"></textarea>
            </label>
        </div>
        <!-- 提交-->
        <button class="button button-block button-outline button-balanced" ng-click="submitOnClick()"
                ng-disabled="!valueHasChange">
            提交修改
        </button>
        <button class="button button-small button-outline button-assertive"
                ng-click="UsedBook$.removeUsedBook(usedBook)"
                ui-sref="person.used-books-list">永远删除
        </button>
    </ion-content>
</ion-view>
