<!--管理上传的二手书列表-->
<ion-view ng-controller="ion_person_usedBookList" view-title="管理我上传的旧书">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="person.my">我</button>
    </ion-nav-buttons>
    <ion-content>
        <div style="text-align: center;margin: 10px" ng-if="UsedBook$.MyUsedBook.isLoading">
            <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
        </div>
        <ion-list>
            <ion-item class="item-divider item-button-right">正在架上
                <button class="button button-clear button-balanced"
                        ui-sref="person.uploadOneUsedBook">上传旧书
                </button>
            </ion-item>
            <ion-one-used-book ng-repeat="usedBook in UsedBook$.MyUsedBook.usedBooks" used-book="usedBook"
                           should-show-manage-btn="true"></ion-one-used-book>
            <ion-item ng-if="UsedBook$.MyUsedBook.usedBooks.length==0">你还没有上传过书,点击 上传旧书</ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="UsedBook$.MyUsedBook.hasMore()"
                             on-infinite="UsedBook$.MyUsedBook.loadMore()"
                             distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>