<!-- 提示用户登入-->
<ion-modal-view>
    <ion-header-bar class="item-input-inset">
        <button class="button button-clear button-balanced"
                ng-click="userLoginModalView.hide()">返回
        </button>
        <h2 class="title">{{title}}</h2>
    </ion-header-bar>
    <ion-content class="padding has-header">
        <!-- 填写邮箱和密码-->
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="输入你的邮箱" ng-model="loginInfo.email">
            </label>

            <label class="item item-input">
                <input type="password" placeholder="输入登入密码" ng-model="loginInfo.password">
            </label>
        </div>
        <!-- 提交-->
        <button class="button button-block button-outline button-balanced" ng-click="submitOnClick()"
                ng-disabled="!(loginInfo.email && loginInfo.password)">
            登入书循
        </button>
    </ion-content>
</ion-modal-view>
