<!--管理我发布的求书列表-->
<ion-view ng-controller="person_needBookList" view-title="管理我发布的求书">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.person_my">我</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div style="text-align: center;margin: 10px" ng-if="UsedBook$.isLoading">
                <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
            </div>

            <ion-item class="item-divider item-button-right">正在求书
                <button class="button button-clear button-balanced" style="top: 0"
                        ui-sref="tab.person_uploadOneNeedBook">发布求书
                </button>
            </ion-item>
            <ion-item collection-repeat="needBook in UsedBook$.myNeedBookList" class="item-thumbnail-left">
                <img ng-if="needBook.attributes.image"
                     ng-src="{{needBook.attributes.image}}"
                     ui-sref="tab.book_oneBook({isbn13:needBook.attributes.isbn13})">

                <p ng-if="needBook.attributes.price">最高承受价格:{{needBook.attributes.price}}</p>

                <p ng-if="needBook.attributes.title">书名:{{needBook.attributes.title}}</p>

                <p ng-if="needBook.attributes.des">描述:{{needBook.attributes.des}}</p>
                <button class="button button-small button-outline button-assertive"
                        ng-click="UsedBook$.removeUsedBook(needBook)">已买删除
                </button>
                <button class="button button-small button-outline button-balanced"
                        ui-sref="tab.person_editOneUsedBook({usedBookId:needBook.id})">修改信息
                </button>
            </ion-item>
            <ion-item ng-if="UsedBook$.myNeedBookList.length==0">你还没有发布过,点击发布求书</ion-item>
        </ion-list>
    </ion-content>
</ion-view>