<ion-view ng-controller="person_uploadOneUsedBook" view-title="发布求书">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.person_my">我</button>
    </ion-nav-buttons>
    <ion-content style="text-align: center" class="padding">
        <!-- 正在加载-->
        <div style="text-align: center;padding-top: 10px" ng-if="isLoading">
            <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
        </div>
        <!-- 扫码-->
        <div ng-if="!usedBookInfo.isbn13">
            <h5>获得你需要的图书信息</h5>
            <button class="button button-outline button-balanced" ng-click="noBarCodeModalView.show()">开始获取</button>
            <br>
            <button class="button button-clear button-small button-balanced" ng-click="scanQRBtnOnClick()">扫码获得
            </button>
        </div>
        <!-- 图书基本信息-->
        <div class="list card" ng-if="usedBookInfo.isbn13">
            <!-- 封面-->
            <ion-item style="text-align: center">
                <img ng-src="{{doubanBookInfo.image}}" style="height: 180px"
                     ng-click="WeChatJS$.previewOneImage(doubanBookInfo.image)">
            </ion-item>
            <ion-item>
                <p>
                    <strong ng-bind="doubanBookInfo.title"></strong><span ng-bind="doubanBookInfo.price"></span>
                </p>
                <!-- 作者-->
                <p ng-if="doubanBookInfo['author'].length>0">
                    <strong ng-bind="doubanBookInfo['author'].toString()"></strong> 著
                </p>
                <!-- 出版信息-->
                <p ng-if="doubanBookInfo['publisher']">
                    <em ng-bind="doubanBookInfo['publisher']"></em>
                    <em ng-bind="doubanBookInfo['pubdate']"></em>
                </p>
            </ion-item>
        </div>
        <hr style="margin: 10px">
        <!-- 填写价格和描述-->
        <div class="list list-inset">
            <label class="item item-input">
                <input type="number" ng-model="usedBookInfo.price" placeholder="输入你最高承受价(数字,人民币元)">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="usedBookInfo.des" placeholder="对这本书你还有什么想说的吗?">
            </label>
        </div>

        <button ng-disabled="!(!isLoading && usedBookInfo.isbn13)"
                class="button button-block button-outline button-balanced" ng-click="submitOnClick('need')">
            发布求书
        </button>

        <!-- 常用描述语-->
        <ion-list ng-if="InfoService$.commonUsedBookDesWords.length>0">
            <ion-item class="item-divider item-button-right">常用描述内容</ion-item>
            <ion-item style="white-space:normal;padding: 5px">
                <button class="button button-small button-outline button-balanced" style="margin: 5px"
                        ng-disabled="isLoading"
                        ng-repeat="word in InfoService$.commonUsedBookDesWords"
                        ng-click="usedBookInfo.des=usedBookInfo.des+' '+word"
                        ng-bind="word">
                </button>
            </ion-item>
        </ion-list>

    </ion-content>
    <script type="text/ng-template" id="template/helpModalView.html">
        <ion-modal-view>
            <ion-header-bar>
                <h2 class="title">发布求书方法</h2>
                <button class="button button-clear button-balanced"
                        ng-click="noBarCodeModalView.hide()">返回
                </button>
            </ion-header-bar>
            <ion-content class="padding" style="text-align: center">
                <button class="button button-block button-outline button-balanced" ui-sref="tab.book_searchList"
                        ng-click="noBarCodeModalView.hide()">
                    开始获取
                </button>
                <img style="max-width: 98%" ng-src="../img/uploadHelp.png">
            </ion-content>
        </ion-modal-view>

    </script>
</ion-view>