<!--管理上传的二手书列表-->
<ion-view ng-controller="person_usedBookList" view-title="管理我上传的旧书">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.person_my">我</button>
    </ion-nav-buttons>
    <ion-content>
        <div style="text-align: center;margin: 10px" ng-if="UsedBook$.isLoading">
            <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
        </div>
        <ion-list>
            <ion-item class="item-divider item-button-right">正在架上
                <button class="button button-clear button-balanced" style="top: 0"
                        ui-sref="tab.person_uploadOneUsedBook">上传旧书
                </button>
            </ion-item>
            <ion-item collection-repeat="usedBook in UsedBook$.myUsedBookList" class="item-thumbnail-left">
                <img ng-if="usedBook.attributes.image"
                     ng-src="{{usedBook.attributes.image}}"
                     ui-sref="tab.book_oneBook({isbn13:usedBook.attributes.isbn13})">

                <h3 ng-if="usedBook.attributes.title">{{usedBook.attributes.title}}</h3>

                <p ng-if="usedBook.attributes.price">要价:{{usedBook.attributes.price}}</p>

                <button class="button button-small button-outline button-assertive"
                        ng-click="UsedBook$.removeUsedBook(usedBook)">已卖删除
                </button>
                <button class="button button-small button-outline button-balanced"
                        ui-sref="tab.person_editOneUsedBook({usedBookId:usedBook.id})">修改信息
                </button>
            </ion-item>
            <ion-item ng-if="UsedBook$.myUsedBookList.length==0">你还没有上传过书,点击 上传旧书</ion-item>
        </ion-list>
    </ion-content>
</ion-view>