<html>
<head>
    <title>书循网-提供最快捷的二手书交易平台</title>
    <meta name="keywords"
          content="书循,书循网,寻书,二手书,二手教材,大学教材,二手书交易,书交易,旧书,书讯,淘书网,图书,网上书店,网上图书商城,畅销书,新书,打折,特价书,扫一扫买书,微信买书,微信交易平台">
    <meta name="description" content="一款包含所有书本的信息的大学生书本交易网,轻松买书,迅速比价,自由淘书。一键购买图书,一键出售图书。让图书交易更简洁。提供最全的新书、二手书各种书本信息">
    <script>
        window.location.href = '/';
    </script>
</head>
<body>
<%= books %>
</body>
</html>