<!--管理我发布的求书列表-->
<ion-view ng-controller="person_needBookList" view-title="管理我发布的求书">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.person_my">我</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <!-- 正在架上-->
            <div style="text-align: center;margin: 10px" ng-if="UsedBook$.isLoading">
                <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
            </div>

            <ion-item class="item-divider item-button-right">正在求书
                <button class="button button-clear button-balanced" style="top: 0"
                        ui-sref="tab.person_uploadOneNeedBook">发布求书
                </button>
            </ion-item>
            <ion-item ng-repeat="oneAvosUsedBook in UsedBook$.myAvosNeedBookList" class="item-thumbnail-left">
                <img ng-if="oneAvosUsedBook.get('image')"
                     ng-src="{{oneAvosUsedBook.get('image')}}"
                     ui-sref="tab.book_oneBook({isbn13:oneAvosUsedBook.get('isbn13')})">

                <p ng-if="oneAvosUsedBook.get('price')">最高承受价格:{{oneAvosUsedBook.get('price')}}</p>

                <p ng-if="oneAvosUsedBook.get('title')">书名:{{oneAvosUsedBook.get('title')}}</p>

                <p ng-if="oneAvosUsedBook.get('des')">描述:{{oneAvosUsedBook.get('des')}}</p>
                <button class="button button-small button-outline button-assertive"
                        ng-click="UsedBook$.removeUsedBook(oneAvosUsedBook)">已买删除
                </button>
                <button class="button button-small button-outline button-balanced"
                        ui-sref="tab.person_editOneUsedBook({usedBookId:oneAvosUsedBook.id})">修改信息
                </button>
            </ion-item>
            <ion-item ng-if="UsedBook$.myAvosNeedBookList.length==0">你还没有发布过,点击发布求书</ion-item>
            <ion-item ui-sref="tab.person_uploadOneNeedBook" style="text-align: center">继续发布求书
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>