<!--个人主页-->
<ion-view ng-controller="person_sendMsgToUser" title="回复{{jsonUser.nickName}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.person_my">我</button>
    </ion-nav-buttons>
    <ion-content class="padding" style="text-align: center">
        <ion-list>
            <!-- 对方用户信息-->
            <user-info ng-if="jsonUser" json-user-info="jsonUser"></user-info>
            <!-- 对方发的消息-->
            <ion-item ng-if="msg.receiveMsg">{{msg.receiveMsg}}</ion-item>
            <!-- 我的输入框-->
            <label class="item item-input">
                <input type="text" ng-model="msg.sendMsg" placeholder="输入回复内容" style="height: 100px;">
            </label>
        </ion-list>
        <button ng-disabled="!msg.sendMsg" class="button button-block button-outline button-balanced"
                ng-click="sendOnClick()">发送
        </button>
    </ion-content>
</ion-view>