<ion-view ng-controller="person_uploadOneUsedBook" view-title="上传二手书">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.person_my">我</button>
    </ion-nav-buttons>
    <ion-content style="text-align: center" class="padding">
        <!-- 正在加载-->
        <div style="text-align: center;padding-top: 10px" ng-if="isLoading">
            <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
        </div>
        <!-- 扫码-->
        <div ng-if="!usedBookInfo.isbn13">
            <h5>扫码书后面的条形码获得图书信息</h5>
            <button class="button button-outline button-balanced" ng-click="scanQRBtnOnClick()">扫条形码</button>
            <br>
            <button class="button button-clear button-small button-balanced" ng-click="noBarCodeModalView.show()">没条码?
            </button>
        </div>
        <!-- 图书基本信息-->
        <div class="list card" ng-if="usedBookInfo.isbn13">
            <!-- 封面-->
            <ion-item style="text-align: center">
                <img ng-src="{{doubanBookInfo.image}}" style="height: 180px"
                     ng-click="WeChatJS$.previewOneImage(doubanBookInfo.image)">
            </ion-item>
            <ion-item>
                <p>
                    {{doubanBookInfo.title}} <span ng-if="doubanBookInfo.price">{{doubanBookInfo.price}}</span>
                </p>
                <!-- 作者-->
                <p ng-if="doubanBookInfo['author'].length>0">
                    {{doubanBookInfo['author'].toString()}} 著
                </p>
                <!-- 出版信息-->
                <p ng-if="doubanBookInfo['publisher']">{{doubanBookInfo['publisher']}} {{doubanBookInfo['pubdate']}}</p>
            </ion-item>
        </div>
        <hr style="margin: 10px">
        <!-- 填写价格和描述-->
        <div class="list list-inset">
            <label class="item item-input">
                <input type="number" ng-model="usedBookInfo.price" placeholder="输入要价(人民币)">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="usedBookInfo.des" placeholder="对这本书你还有什么想说的吗?">
            </label>
        </div>

        <button ng-disabled="!(!isLoading && usedBookInfo.isbn13 && usedBookInfo.price)"
                class="button button-block button-outline button-balanced" ng-click="submitOnClick()">
            提交二手书
        </button>

    </ion-content>
    <script type="text/ng-template" id="template/noBarCodeModalView.html">
        <ion-modal-view>
            <ion-header-bar>
                <h2 class="title">书没条码时上传方法</h2>
                <button class="button button-clear button-balanced"
                        ng-click="noBarCodeModalView.hide()">返回
                </button>
            </ion-header-bar>
            <ion-content class="padding" style="text-align: center">
                <img style="max-width: 98%" ng-src="img/noCodeBar.png">
                <button class="button button-block button-outline button-balanced" ui-sref="tab.book_searchList"
                        ng-click="noBarCodeModalView.hide()">
                    开始上传
                </button>
            </ion-content>
        </ion-modal-view>

    </script>
</ion-view>