<!--一本二手书-->
<ion-item class="item-thumbnail-left" ui-sref="tab.book_oneNeedBook({usedBookAvosObjectId:needBook.id})">
    <img ng-if="needBook.attributes.image" ng-src="{{needBook.attributes.image}}">

    <h3 ng-if="needBook.attributes.title">{{needBook.attributes.title}}</h3>

    <p ng-if="needBook.attributes.price">最高承受价:{{needBook.attributes.price}}</p>

    <p>时间:{{needBook.updatedAt | date:'mediumDate' }}</p>

    <p ng-if="needBook.attributes.des">描述:{{needBook.attributes.des}}</p>
</ion-item>