<!-- 一本书的信息-->
<div class="ui orange card hasPubInfoPopupBook">
    <!-- 图书封面图片-->
    <a class="image" ng-href="../book/oneUsedBook.html?usedBookObjectId={{needBook.id}}">
        <img ng-src="{{needBook.attributes.info.attributes.bigImage}}">
    </a>

    <div class="content">
        <!-- 名称-->
        <h1 class="header">{{needBook.attributes.info.attributes.title}}</h1>
        <!-- 出版消息-->
        <div class="meta">
            <i class="yen icon"></i><em>{{needBook.attributes.price}}</em>
            <em>{{needBook.attributes.info.attributes.publisher}}/{{needBook.attributes.info.attributes.pubdate}}</em>
        </div>
        <!-- 主人描述-->
        <div class="description">
            {{needBook.attributes.des}}
        </div>
    </div>
    <!-- 如果是当前用户的书,就显示管理按钮-->
    <div class="ui bottom attached tiny basic buttons"
         ng-if="AV.User.current() && AV.User.current().id==needBook.attributes.owner.id">
        <button class="ui button" ng-click="UsedBook$.removeUsedBook(needBook)">删除</button>
        <button class="ui button">编辑</button>
    </div>
</div>

<!-- 图书出版信息-->
<div class="ui popup">
    <div class="ui list">
        <div class="item">
            <div class="header">作者</div>
            {{needBook.attributes.info.attributes.author}}
        </div>
        <div class="item">
            <div class="header">出版社</div>
            {{needBook.attributes.info.attributes.publisher}}
        </div>
        <div class="item">
            <div class="header">出版日期</div>
            {{needBook.attributes.info.attributes.pubdate}}
        </div>
        <div class="item">
            <div class="header">页数</div>
            {{needBook.attributes.info.attributes.pages}}
        </div>
        <div class="item">
            <div class="header">定价</div>
            {{needBook.attributes.info.attributes.price}}
        </div>
        <div class="item">
            <div class="header">装帧</div>
            {{needBook.attributes.info.attributes.binding}}
        </div>
        <div class="item">
            <div class="header">ISBN</div>
            {{needBook.attributes.info.attributes.isbn13}}
        </div>
    </div>
</div>
