<!DOCTYPE html>
<html lang="zh-CN" ng-app="APP">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <title>{{meta.title}}</title>
    <meta name="keywords" content="{{meta.keywords}}">
    <meta name="description" content="{{meta.description}}">
    <!-- build:Semantic-css -->
    <link href="../../../bower_components/semantic-ui/dist/semantic.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="ui horizontally padded grid" style="padding-top: 75px">

<ng-include src="'../temp/header.html'" d-include-replace></ng-include>

<!-- 主内容区-->
<main class="ui sixteen wide column">
    <div class="ui grid" ng-controller="d_person_statusList">

        <div class="row" ng-if="Status$.PrivateStatus.statusList.length>0">
            <div class="ui horizontal divider">
                <a class="ui circular button">你收到的私信</a>
            </div>
            <div class="ui grid">
                <!-- 图书列表-->
                <div class="five column row">
                    <div class="column" ng-repeat="status in Status$.PrivateStatus.statusList">
                        <p style="white-space: pre-wrap">{{status.attributes.message}}</p>
                        <d-one-used-book used-book="status.attributes.usedBook"></d-one-used-book>
                        <d-user-info used-book-object-id="status.attributes.source.id"></d-user-info>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="Status$.ReviewUsedBookStatus.statusList.length>0">
            <div class="ui horizontal divider">
                <a class="ui circular button">同学对你的书的评论</a>
            </div>
            <div class="ui grid">
                <!-- 图书列表-->
                <div class="five column row">
                    <div class="column" ng-repeat="status in Status$.ReviewUsedBookStatus.statusList">
                        <p style="white-space: pre-wrap">{{status.attributes.message}}</p>
                        <d-one-used-book used-book="status.attributes.usedBook"></d-one-used-book>
                        <d-user-info used-book-object-id="status.attributes.source.id"></d-user-info>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="Status$.NewUsedBookStatus.statusList.length>0">
            <div class="ui horizontal divider">
                <a class="ui circular button">同学新上传的旧书</a>
            </div>
            <div class="ui grid">
                <!-- 图书列表-->
                <div class="five column row">
                    <div class="column" ng-repeat="status in Status$.NewUsedBookStatus.statusList">
                        <d-one-used-book used-book="status.attributes.usedBook"></d-one-used-book>
                        <d-user-info used-book-object-id="status.attributes.source.id"></d-user-info>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="Status$.NewNeedBookStatus.statusList.length>0">
            <div class="ui horizontal divider">
                <a class="ui circular button">同学新发布的求书</a>
            </div>
            <div class="ui grid">
                <!-- 图书列表-->
                <div class="five column row">
                    <div class="column" ng-repeat="status in Status$.NewNeedBookStatus.statusList">
                        <d-one-used-book used-book="status.attributes.usedBook"></d-one-used-book>
                        <d-user-info used-book-object-id="status.attributes.source.id"></d-user-info>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui warning segment" ng-if="Status$.unreadCountSum()==0">
            没有未读消息
        </div>

    </div>

</main>

<ng-include src="'../temp/footer.html'" d-include-replace></ng-include>

<!-- build:jQuery-js -->
<script src="../../../bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->
<!-- build:Semantic-js -->
<script src="../../../bower_components/semantic-ui/dist/semantic.js"></script>
<!-- endbuild -->
<!-- build:Angular-js -->
<script src="../../../bower_components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:Avos-js -->
<script src="../../../bower_components/avoscloud-sdk/dist/av-core.js"></script>
<!-- endbuild -->
<!-- build:LeanAnalytics-js -->
<script src="../bower_components/leancloud-analytics/src/AV.analytics.js"></script>
<!-- endbuild -->
<!-- build:Main-js -->
<script src="../../js/util.js"></script>
<script src="../../js/Model.js"></script>
<script src="../../js/Analytics.js"></script>
<script src="../js/app.js"></script>
<!--Service-->
<script src="../../js/service/BookRecommend.js"></script>
<script src="../../js/service/BusinessSite.js"></script>
<script src="../../js/service/DoubanBook.js"></script>
<script src="../../js/service/InfoService.js"></script>
<script src="../../js/service/BookInfo.js"></script>
<script src="../../js/service/SearchBook.js"></script>
<script src="../../js/service/Status.js"></script>
<script src="../../js/service/UsedBook.js"></script>
<script src="../../js/service/User.js"></script>
<script src="../../js/service/WeChatJS.js"></script>
<!--Controller-->
<script src="../js/controller/d_partial_NearUser.js"></script>
<script src="../js/controller/d_topBar.js"></script>
<script src="../js/controller/d_book_searchList.js"></script>
<script src="../js/controller/d_person_statusList.js"></script>
<!--Directive-->
<script src="../js/directive/dUserInfo.js"></script>
<script src="../js/directive/dIncludeReplace.js"></script>
<script src="../js/directive/dOneBook.js"></script>
<!-- endbuild -->

</body>
</html>