<!--一个用户的主页-->
<!DOCTYPE html>
<html lang="zh-CN" ng-app="APP">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <title>{{meta.title}}</title>
    <meta name="keywords" content="{{meta.keywords}}">
    <meta name="description" content="{{meta.description}}">
    <!-- build:Semantic-css -->
    <link href="../../../bower_components/semantic-ui/dist/semantic.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="ui horizontally padded grid" style="padding-top: 75px">

<ng-include src="'../temp/header.html'" d-include-replace></ng-include>

<!-- 主内容区-->
<main class="ui sixteen wide column" ng-controller="d_person_uploadOneUsedBook">
    <div class="ui center aligned grid">

        <!-- 主人信息-->
        <div class="row">
            <d-one-book class="column" book-info=""></d-one-book>
        </div>

        <div class="twelve wide column">

            <!-- Steps-->
            <div class="ui fluid large steps">
                <div ng-class="{active:step=='subscribe',step:true}">
                    <i class="search icon"></i>

                    <div class="content">
                        <div class="title">寻找图书</div>
                        <div class="description">先找到你要上传的那本书</div>
                    </div>
                </div>
                <div ng-class="{active:step=='info',step:true}">
                    <i class="payment icon"></i>

                    <div class="content">
                        <div class="title">填写信息</div>
                        <div class="description">这些信息有助于别人更了解它</div>
                    </div>
                </div>
                <div ng-class="{active:step=='ok',step:true}">
                    <i class="heart icon"></i>

                    <div class="content">
                        <div class="title">上传成功</div>
                        <div class="description">等待同学来找你买书</div>
                    </div>
                </div>
            </div>

            <!-- 定位图书-->
            <div class="ui center aligned segment" ng-if="step=='search'">
                <a class="ui big green button" href="../book/searchList.html">开始寻找</a>
            </div>

            <div class="ui segment" ng-if="step=='info'">
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label>在读学校</label>
                            <input type="number" ng-model="usedBookInfo.price" placeholder="输入要价(数字,人民币元)">
                        </div>
                        <div class="field">
                            <label>所学专业</label>
                            <input type="text" ng-model="usedBookInfo.des" placeholder="对这本书你还有什么想说的吗?">
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui green big button" ng-click="submitOnClick()">提交</button>
                    </div>
                </div>
            </div>

            <div class="ui segment" ng-if="step=='ok'">
                <a class="huge ui button" href="../book/searchList.html">
                    继续上传
                </a>
                <a class="huge ui button">
                    个人主页
                </a>
            </div>

        </div>
    </div>

</main>

<ng-include src="'../temp/footer.html'" d-include-replace></ng-include>

<!-- build:jQuery-js -->
<script src="../../../bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->
<!-- build:Semantic-js -->
<script src="../../../bower_components/semantic-ui/dist/semantic.js"></script>
<!-- endbuild -->
<!-- build:Angular-js -->
<script src="../../../bower_components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:Avos-js -->
<script src="../../../bower_components/avoscloud-sdk/dist/av-core.js"></script>
<!-- endbuild -->

<!-- build:Main-js -->
<script src="../../js/util.js"></script>
<script src="../../js/Model.js"></script>
<script src="../js/app.js"></script>
<!--Service-->
<script src="../../js/service/BookRecommend.js"></script>
<script src="../../js/service/BusinessSite.js"></script>
<script src="../../js/service/DoubanBook.js"></script>
<script src="../../js/service/InfoService.js"></script>
<script src="../../js/service/BookInfo.js"></script>
<script src="../../js/service/SearchBook.js"></script>
<script src="../../js/service/Status.js"></script>
<script src="../../js/service/UsedBook.js"></script>
<script src="../../js/service/User.js"></script>
<script src="../../js/service/WeChatJS.js"></script>
<!--Controller-->
<script src="../js/controller/d_partial_NearUser.js"></script>
<script src="../js/controller/d_topBar.js"></script>
<script src="../js/controller/d_book_searchList.js"></script>
<script src="../js/controller/d_tool_signUp.js"></script>
<script src="../js/controller/d_person_uploadOneUsedBook.js"></script>
<!--Directive-->
<script src="../js/directive/dUserInfo.js"></script>
<script src="../js/directive/dIncludeReplace.js"></script>
<script src="../js/directive/dOneBook.js"></script>
<!-- endbuild -->

</body>
</html>