<div class="row" ng-controller="bs_userList">

    <div class="row">
        <div class=col-md-6>
            <ol class="breadcrumb">
                <li><a ui-sref="book.recommend()">图书主页</a></li>
                <li class="active" ng-bind="title"></li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" ng-model="sortWay" btn-radio="'userUsedBookNumber'">图书价格</button>
                    <button class="btn btn-primary" ng-model="sortWay" btn-radio="'location'">离我距离</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default"
                            ng-if="setMajorFilter"
                            ng-class="{'btn-info':getMajorFilter()}"
                            ng-click="chooseMajor()"
                            ng-bind="getMajorFilter() ? getMajorFilter() : '主人专业筛选'">
                    </button>
                    <button class="btn btn-warning" ng-click="setMajorFilter(null)"
                            ng-if="getMajorFilter()">取消专业限制
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 ng-bind="title"></h4>
            <hr>
        </div>
        <div class="col-md-3 text-center" ng-repeat="user in users | orderBy:sortWay:true">
            <bs-one-user user="user"
                         image-size="132"
                         margin="20"
                         popover-placement="right"
                         avatar-size="66"></bs-one-user>
        </div>
        <bs-infinite-scroll ng-if="hasMore()" on-infinite="loadMore()"></bs-infinite-scroll>
    </div>
</div>