<!--注册-->
<ion-view ng-controller="person_signUp" title="加入书循">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.book_recommend">书循</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <!-- 正在加载-->
        <div style="text-align: center;margin: 5px" ng-if="isLoading">
            <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
        </div>
        <!-- 微信信息-->
        <div class="item item-avatar" ng-if="userInfo.openId">
            <img ng-src="{{userInfo.avatarUrl}}">

            <h2>{{userInfo.nickName}}
                <i class="icon ion-male" style="color: #5eb1ed" ng-if="userInfo.sex==1"></i>
                <i class="icon ion-female" style="color: #ff6d9e" ng-if="userInfo.sex==2"></i>
            </h2>
        </div>
         <!-- TODO-->
        {{userInfo}}
        <!-- 填写其他信息-->
        <div class="list list-inset">
            <ion-item class="item-icon-right" ng-click="chooseSchoolModalView.show()">
                你在读的学校
                <span class="item-note" ng-if="userInfo.school">{{userInfo.school}}</span>
                <i class="icon ion-ios-arrow-right balanced"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="chooseMajorModalView.show()">
                你所学的专业
                <span class="item-note" ng-if="userInfo.major">{{userInfo.major}}</span>
                <i class="icon ion-ios-arrow-right balanced"></i>
            </ion-item>
            <label class="item item-input item-select">
                <span class="input-label">
                    大学入学时间
                </span>
                <select ng-model="userInfo.startSchoolYear">
                    <option ng-repeat="one in startSchoolYearOptions" value="{{one}}">{{one}}</option>
                </select>
            </label>
        </div>
        <!-- 填写邮箱和密码-->
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="输入邮箱方便买家联系你" ng-model="userInfo.email">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="输入登入密码" ng-model="userInfo.password">
            </label>
        </div>
        <!-- 提交-->
        <button class="button button-block button-outline button-balanced" ng-click="submitOnClick()"
                ng-disabled="isLoading || !(userInfo.email && userInfo.password && userInfo.school && userInfo.major && userInfo.startSchoolYear)">
            立即加入
        </button>
    </ion-content>
</ion-view>