<!-- 选择专业-->
<ion-modal-view>
    <ion-header-bar class="item-input-inset">
        <!-- 关键字输入框-->
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="输入名称搜索" ng-model="InfoService$.searchMajorKeyword">
        </label>
        <button class="button button-clear button-balanced"
                ng-click="chooseMajorModalView.hide()">返回
        </button>
    </ion-header-bar>
    <ion-content class="has-header">
        <ul class="list">
            <ion-item item-height="55px"
                      item-width="100%"
                      collection-repeat="oneMajor in InfoService$.majors | filter:InfoService$.filter_majorByKeyword"
                      ng-click="majorOnChoose(oneMajor['name'])">
                {{oneMajor['name']}}
            </ion-item>
        </ul>
    </ion-content>
</ion-modal-view>
