<ion-item style="text-align: center;padding: 0;">
    <div ng-repeat="jsonBook in jsonBooksInfo.slice(0,showNumber)" ui-sref="tab.book_oneBook({isbn13:jsonBook.isbn13})"
         style="display: inline-block;padding: 5px;width: 80px;height: 134px">
        <h5 ng-if="jsonBook.title" class="title">{{jsonBook.title}}</h5>
        <img ng-if="jsonBook.image" ng-src="{{jsonBook.image}}"
             style="width: 70px;height: 100px">
        <h5 ng-if="jsonBook.des" class="title">{{jsonBook.des}}</h5>
    </div>
</ion-item>
