<!--用户列表-->
<ion-view ng-controller="userList" view-title="{{title}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.book_recommend">书循</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="button-bar">
            <!-- 这些属性由 user-info 里加载-->
            <a class="button button-small" ng-click="sortWay='userUsedBookNumber'"
               ng-class="{'button-balanced':sortWay=='userUsedBookNumber'}">数量</a>
            <a class="button button-small" ng-click="sortWay='location'"
               ng-class="{'button-balanced':sortWay=='location'}">距离</a>
            <a class="button button-small" ng-click="sortWay='isMyFollowee'"
               ng-class="{'button-balanced':sortWay=='isMyFollowee'}">关注</a>
            <a class="button button-small" ng-click="chooseMajorModalView.show()">
                {{majorFilter ? majorFilter :'专业'}}
            </a>
        </div>
        <div class="card" ng-repeat="one in jsonUsers | orderBy:sortWay:true | filter:filter_major">
            <user-info json-user-info="one"></user-info>
        </div>
        <ion-infinite-scroll ng-if="hasMore()"
                             on-infinite="loadMore()"
                             distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>