<!DOCTYPE html>
<html lang="en" ng-app="APP">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
</head>
<body>
<!--top tool bar-->
<md-toolbar class=".md-whiteframe-z1" ng-controller="topToolBarCtrl">
    <div class="md-toolbar-tools">
        <!-- user avatar-->
        <md-button class="md-icon-button" ng-click="$mdSidenav('userMain').open()">
            <img src="../img/logo-R.png" class="md-avatar">
        </md-button>
        <span flex></span>
        <md-autocomplete
                md-search-text="SearchBook$.keyword"
                md-search-text-change="SearchBook$.searchInputOnChange()"
                md-items="bookInfo in SearchBook$.books"
                placeholder="搜索图书">
            <md-item-template>
                <span md-highlight-text="SearchBook$.keyword">{{bookInfo}}</span>
            </md-item-template>
            <md-not-found>
                找不到和 <strong>{{SearchBook$.keyword}}</strong> 相关到书
            </md-not-found>
        </md-autocomplete>
        <!-- book tags-->
        <md-menu>
            <!-- toggle button-->
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-src="../img/logo.svg"></md-icon>
            </md-button>
            <md-menu-content>
                <!-- big tag-->
                <md-menu-item ng-repeat="bigTag in BookRecommend$.BookTag.getTagAttrNames()">

                    <md-menu>
                        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            {{bigTag}}
                        </md-button>
                        <md-menu-content>
                            <!-- little tag-->
                            <md-menu-item ng-repeat="littleTag in BookRecommend$.BookTag.tag[bigTag]">
                                <md-button>{{littleTag}}</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<!--book main-->
<md-content layout="column" layout-margin flex>
    <div ng-repeat="one in [1,2,3,4,5,6,7,8]">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><span>{{one}}</span></h3>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="two in [1,2,3,4,5,6]">{{two}}</md-list-item>
            </md-list>
        </md-content>
    </div>

</md-content>

<!--user main-->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="userMain">
    <md-toolbar>
        <h1 class="md-toolbar-tools">个人中心</h1>
    </md-toolbar>
    <md-content>

    </md-content>
</md-sidenav>

<!-- build:Angular-js -->
<script src="bower_components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:AngularAnimate-js -->
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!-- endbuild -->
<!-- build:AngularAria-js -->
<script src="bower_components/angular-aria/angular-aria.js"></script>
<!-- endbuild -->
<!-- build:AngularMaterial-js -->
<script src="bower_components/angular-material/angular-material.js"></script>
<!-- endbuild -->
<!-- build:Avos-js -->
<script src="../../bower_components/avoscloud-sdk/dist/av-core.js"></script>
<!-- endbuild -->
<!-- build:LeanAnalytics-js -->
<script src="../../bower_components/leancloud-analytics/src/AV.analytics.js"></script>
<!-- endbuild -->
<!-- build:Main-js -->
<script src="../js/util.js"></script>
<script src="../js/Model.js"></script>
<script src="../js/Analytics.js"></script>
<script src="js/app.js"></script>
<!--Service-->
<script src="../js/service/BookRecommend.js"></script>
<script src="../js/service/BusinessSite.js"></script>
<script src="../js/service/DoubanBook.js"></script>
<script src="../js/service/InfoService.js"></script>
<script src="../js/service/IonicModalView.js"></script>
<script src="../js/service/BookInfo.js"></script>
<script src="../js/service/SearchBook.js"></script>
<script src="../js/service/Status.js"></script>
<script src="../js/service/UsedBook.js"></script>
<script src="../js/service/User.js"></script>
<script src="../js/service/WeChatJS.js"></script>
<!--Controller-->
<script src="js/controller/topToolBarCtrl.js"></script>
<!--Directive-->
<!-- endbuild -->
</body>
</html>