<!--个人主页-->
<ion-view ng-controller="person_my" title="我的书循">
    <ion-content>
        <!-- 基本信息-->
        <ion-item class="item-divider item-button-right">我的信息
            <button class="button button-clear button-balanced" style="top: 0"
                    ui-sref="tab.person_editPersonInfo">修改信息
            </button>
        </ion-item>
        <user-info ng-if="userInfo" json-user-info="userInfo"></user-info>
        <ion-item class="item-divider item-button-right">二手书
            <button class="button button-clear button-balanced" style="top: 0"
                    ui-sref="tab.person_uploadOneUsedBook">上传旧书
            </button>
        </ion-item>
        <!-- 我上传的二手书-->
        <ion-item ng-if="myUsedBookNumber>0" ui-sref="tab.person_usedBooksList" class="item-icon-right">
            已上传{{myUsedBookNumber}}本旧书
            <i class="icon ion-ios-arrow-right balanced"></i>
        </ion-item>
    </ion-content>
</ion-view>