<!--注册-->
<ion-view ng-controller="person_signUp" title="加入书循">
    <ion-content class="padding">
        <!-- 正在加载-->
        <div style="text-align: center;margin: 5px" ng-if="!userInfo.openId">
            <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
        </div>
        <div class="item item-avatar">
            <img ng-src="{{userInfo.avatarUrl}}">

            <h2>{{userInfo.nickName}}</h2>
            <i class="icon ion-male" style="color: #5eb1ed" ng-if="userInfo.sex==1"></i>
            <i class="icon ion-female" style="color: #ff6d9e" ng-if="userInfo.sex==2"></i>
        </div>
        <!-- 填写价格和描述-->
        <div class="list list-inset">
            <ion-item class="item-icon-right" ng-click="chooseSchoolModalView.show()">
                你在读的学校
                <span class="item-note" ng-if="userInfo.school">{{userInfo.school}}</span>
                <i class="icon ion-ios-arrow-right balanced"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="chooseMajorModalView.show()">
                你所学的专业
                <span class="item-note" ng-if="userInfo.major">{{userInfo.major}}</span>
                <i class="icon ion-ios-arrow-right balanced"></i>
            </ion-item>
            <label class="item item-input item-select">
                <span class="input-label">
                    大学入学时间
                </span>
                <select ng-model="userInfo.startSchoolYear" ng-options="one as one for one in startSchoolYearOptions">
                </select>
            </label>
        </div>
        <button class="button button-block button-outline button-balanced" ng-click="submitOnClick()"
                ng-disabled="!(userInfo.school && userInfo.major && userInfo.startSchoolYear)">
            立即加入
        </button>
    </ion-content>

    <!-- 选择学校-->
    <script type="text/ng-template" id="template/chooseSchool.html">
        <ion-modal-view>
            <ion-header-bar class="item-input-inset">
                <button class="button button-clear button-balanced"
                        ng-click="chooseSchoolModalView.hide()">返回
                </button>
                <!-- 关键字输入框-->
                <label class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" placeholder="输入名称搜索" ng-model="InfoService$.searchSchoolKeyword">
                </label>
            </ion-header-bar>
            <ion-content class="has-header">
                <ul class="list">
                    <ion-item item-height="55px"
                              collection-repeat="oneSchool in InfoService$.schools | filter:InfoService$.filter_schoolByKeyword"
                              ng-click="schoolOnChoose(oneSchool['name'])">
                        {{oneSchool['name']}}
                    </ion-item>
                </ul>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- 选择专业-->
    <script type="text/ng-template" id="template/chooseMajor.html">
        <ion-modal-view>
            <ion-header-bar class="item-input-inset">
                <button class="button button-clear button-balanced"
                        ng-click="chooseMajorModalView.hide()">返回
                </button>
                <!-- 关键字输入框-->
                <label class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" placeholder="输入名称搜索" ng-model="InfoService$.searchMajorKeyword">
                </label>
            </ion-header-bar>
            <ion-content class="has-header">
                <ul class="list">
                    <ion-item item-height="55px"
                              collection-repeat="oneMajor in InfoService$.majors | filter:InfoService$.filter_majorByKeyword"
                              ng-click="majorOnChoose(oneMajor['name'])">
                        {{oneMajor['name']}}
                    </ion-item>
                </ul>
            </ion-content>
        </ion-modal-view>
    </script>

</ion-view>