<!--管理上传的二手书列表-->
<ion-view ng-controller="person_usedBookList" title="管理我的二手图书">
    <ion-content>
        <ion-list>
            <!-- 正在加载-->
            <div style="text-align: center;padding-top: 10px" ng-if="UsedBook$.isLoading">
                <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
            </div>

            <ion-item class="item-divider item-button-right">正在架上</ion-item>
            <ion-item ng-repeat="oneAvosUsedBook in UsedBook$.myAvosUsedBookList_notSell" class="item-thumbnail-left">
                <img ng-if="oneAvosUsedBook['avosImageFile']" ng-src="oneAvosUsedBook['avosImageFile'].url()">

                <p ng-if="oneAvosUsedBook.get('price')">要价:{{oneAvosUsedBook.get('price')}}</p>

                <p ng-if="oneAvosUsedBook.get('des')">描述:{{oneAvosUsedBook.get('des')}}</p>
                <button class="button button-small button-outline button-assertive"
                        ng-click="removeUsedBook(oneAvosUsedBook)">删除
                </button>
                <button class="button button-small button-outline button-balanced"
                        ui-sref="tab.person_editOneUsedBook({indexInMyAvosUsedBook_notSell:$index})">编辑
                </button>
                <button class="button button-small button-outline button-positive"
                        ng-click="usedBookHasSell(oneAvosUsedBook)">已卖
                </button>
            </ion-item>

            <ion-item class="item-divider item-button-right">已经卖出</ion-item>
            <ion-item ng-repeat="oneAvosUsedBook in UsedBook$.myAvosUsedBookList_hasSell" class="item-avatar">
                <img ng-if="oneAvosUsedBook['avosImageFile']" ng-src="oneAvosUsedBook['avosImageFile'].url()">

                <p ng-if="oneAvosUsedBook.get('des')">描述:{{oneAvosUsedBook.get('des')}}</p>
                <span ng-if="oneAvosUsedBook.get('price')">要价:{{oneAvosUsedBook.get('price')}}</span>
                <button class="button button-small button-outline button-assertive" style="float: right"
                        ng-click="removeUsedBook(oneAvosUsedBook)">删除
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>