<div class="row" ng-controller="bs_person_editOneUsedBook">

    <div class="col-md-9">

        <div class="row">
            <div class=col-md-6>
                <ol class="breadcrumb">
                    <li><a ui-sref="book.one-book({isbn13:bookInfo.attributes.isbn13})"
                           ng-bind="bookInfo.attributes.title"></a></li>
                    <li class="active"><strong>修改我的-</strong>-<strong
                            ng-bind="usedBook.attributes.bookInfo.attributes.title"></strong></li>
                </ol>
            </div>
            <div class="col-md-6">
                <div class="btn-toolbar pull-right">
                </div>
            </div>
        </div>

        <bs-one-book-info-detail book-info="usedBook.attributes.bookInfo"></bs-one-book-info-detail>

    </div>

    <aside class="col-md-3">

        <div class="row">
            <div class="col-md-12">
                <h4>修改我的-<span ng-bind="usedBook.attributes.bookInfo.attributes.title"></span></h4>
                <hr>
            </div>
            <form class="col-md-12">
                <div class="form-group">
                    <input autofocus type="number" class="form-control" placeholder="人民币 只输入数值"
                           ng-model="usedBook.attributes.price"
                           ng-change="valueHasChange=true">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="这书有什么特别之处"
                              ng-model="usedBook.attributes.des"
                              ng-change="valueHasChange=true"
                              popover-placement="left"
                              popover-template="'commonUsedBookDesWords.html'"></textarea>
                </div>
                <button class="btn btn-primary btn-block" ng-click="submitOnClick()"
                        ng-disabled="!valueHasChange">
                    提交修改
                </button>
            </form>
            <script type="text/ng-template" id="commonUsedBookDesWords.html">
                <h4>常用描述内容</h4>
                <button class="btn btn-default btn-sm"
                        style="margin: 5px"
                        ng-disabled="isLoading"
                        ng-repeat="word in InfoService$.commonUsedBookDesWords"
                        ng-click="usedBook.attributes.des=usedBook.attributes.des+' '+word"
                        ng-bind="word"></button>
            </script>
        </div>

    </aside>
</div>
