<!--一本二手书信息-->
<ion-view ng-controller="book_oneUsedBook" view-title="二手 {{jsonUsedBook.title}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.book_searchList">寻书</button>
    </ion-nav-buttons>
    <ion-content>
        <!-- 图书基本信息-->
        <div class="list card">
            <ion-item ng-if="jsonUsedBook.image" style="text-align: center">
                <img ng-src="{{jsonUsedBook.image}}" style="height: 180px"
                     ng-click="WeChatJS$.previewOneImage(jsonUsedBook.image)">
            </ion-item>
            <ion-item>
                <h3>要价:{{jsonUsedBook.price}}</h3>

                <p>时间:{{jsonUsedBook.updatedAt | date:'mediumDate' }}</p>

                <p>书名:{{jsonUsedBook.title}}</p>

                <p ng-if="jsonUsedBook.des" style="white-space: pre-wrap">描述:{{jsonUsedBook.des}}</p>
            </ion-item>
        </div>
        <!-- 主人信息-->
        <div class="list card">
            <ion-item class="item-divider  item-button-right">主人信息
                <a class="button button-clear button-balanced" style="top: 0"
                   ui-sref="tab.person_sendMsgToUser({openId:ownerInfo.openId,usedBookAvosObjectId:usedBookAvosObjectId,role:'buy'})">联系主人
                </a>
            </ion-item>
            <user-info json-user-info="ownerInfo" user-used-book-number="ownerUsedBookNumber"></user-info>
        </div>
        <!-- 用户评论-->
        <div class="list card">
            <ion-item class="item-divider  item-button-right">大家都说</ion-item>
            <ion-item ng-if="jsonChats.length==0"
                      ui-sref="tab.person_sendMsgToUser({openId:ownerInfo.openId,usedBookAvosObjectId:usedBookAvosObjectId,role:'buy'})">
                还没有同学评论,快来抢沙发~
            </ion-item>
            <ion-item class="item-avatar" ng-repeat="jsonChat in jsonChats">
                <img ng-src="{{jsonChat.from.get('avatarUrl')}}">

                <h2 style="white-space: pre-wrap">{{jsonChat.msg}}</h2>

                <p>{{jsonChat.updatedAt | date:'mediumDate'}}</p>
                <img style="width: 40px;height: 40px;position: absolute;top: 16px;right: 16px;border-radius: 50%;"
                     ng-src="{{jsonChat.to.get('avatarUrl')}}">
            </ion-item>
        </div>
    </ion-content>
</ion-view>