<ion-view ng-controller="book_usedBookList" view-title="{{title}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="tab.book_searchList">寻书</button>
    </ion-nav-buttons>
    <ion-content>
        <!-- 排序方式-->
        <div class="button-bar padding">
            <a class="button button-small" ng-click="sortWay='price'"
               ng-class="{'button-balanced':sortWay=='price'}">图书价格</a>
            <a class="button button-small " ng-click="sortWay='location'"
               ng-class="{'button-balanced':sortWay=='location'}">离你距离</a>
        </div>
        <ion-list>
            <!-- 二手书列表-->
            <one-used-book ng-if="cmd=='nearUsed' || cmd =='isbnUsed'"
                           ng-repeat="jsonUsedBook in jsonUsedBooks | orderBy:sortWay"
                           json-used-book="jsonUsedBook"></one-used-book>
            <!-- 求书列表-->
            <one-need-book ng-if="cmd=='nearNeed' || cmd == 'isbnNeed'"
                           ng-repeat="jsonNeedBook in jsonUsedBooks | orderBy:sortWay"
                           json-need-book="jsonNeedBook"></one-need-book>
        </ion-list>
        <ion-infinite-scroll ng-if="hasMore()"
                             on-infinite="loadMore(isbn13)"
                             distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>