<div class="row" ng-controller="bs_book_recommendCtrl">
    <div class="col-md-9">

        <div class="row">
            <div class="col-md-6 hidden-xs">
                <ol class="breadcrumb">
                    <li class="active">图书主页</li>
                </ol>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right">
                    <a class="btn btn-default" ng-click="scrollToHash('附近旧书')">附近旧书</a>
                    <a class="btn btn-default" ng-click="scrollToHash('附近同学')">附近同学</a>
                    <a class="btn btn-default" ng-click="scrollToHash('附近求书')">附近求书</a>
                    <a type="button" class="btn btn-default btn-info"
                       ng-click="chooseMajor()">去其他专业看看
                    </a>
                </div>
            </div>
        </div>

        <!-- 新书速递-->
        <div class="row" ng-if="LatestBook.books.length>0">
            <div class="col-md-12">
                <h4><a ui-sref="book.book-list({cmd:'latest'})">新书速递</a></h4>
                <hr>
            </div>
            <div class="col-md-3" ng-repeat="bookInfo in LatestBook.books.slice(0,8)">
                <bs-one-book-info book-info="bookInfo"
                                  should-show-used-books-count="true"
                                  popover-placement="right"></bs-one-book-info>
            </div>
        </div>

        <!-- 附近用户上传的旧书-->
        <div class="row" id="附近旧书" ng-if="BookRecommend$.NearUsedBook.usedBooks.length>0">
            <div class="col-md-12">
                <h4><a ui-sref="book.used-book-list({cmd:'nearUsed'})">附近旧书</a></h4>
                <hr>
            </div>
            <div class="col-md-3" ng-repeat="usedBook in BookRecommend$.NearUsedBook.usedBooks.slice(0,8)">
                <bs-one-used-book used-book="usedBook" popover-placement="right"
                        ></bs-one-used-book>
            </div>
        </div>

        <!-- 用户附近的用户-->
        <div id="附近同学" class="row" ng-if="BookRecommend$.NearUser.users.length>0">
            <div class="col-md-12">
                <h4><a ui-sref="common.user-list({cmd:'near'})">附近同学</a></h4>
                <hr>
            </div>
            <div class="col-xs-6 col-md-2" ng-repeat="user in BookRecommend$.NearUser.users.slice(0,24)">
                <bs-one-user user="user"
                             image-size="132"
                             margin="20"
                             popover-placement="right"
                             avatar-size="66"></bs-one-user>
            </div>
        </div>

        <!-- 附近用户发布的求书-->
        <div id="附近求书" class="row" ng-if="BookRecommend$.NearNeedBook.needBooks.length>0">
            <div class="col-md-12">
                <h4><a ui-sref="book.used-book-list({cmd:'nearNeed'})">附近求书</a></h4>
                <hr>
            </div>
            <div class="col-md-3" ng-repeat="needBook in BookRecommend$.NearNeedBook.needBooks.slice(0,8)">
                <bs-one-need-book need-book="needBook"
                                  popover-placement="right"
                        ></bs-one-need-book>
            </div>
        </div>

        <!-- 根据专业推荐的书-->
        <div id="专业推荐" class="row" ng-if="BookRecommend$.TagBook.books.length>0">
            <div class="col-md-12">
                <h4><a ui-sref="book.book-list({cmd:'tag',tag:major})">专业推荐</a></h4>
                <hr>
            </div>
            <div class="col-md-3" ng-repeat="bookInfo in BookRecommend$.TagBook.books.slice(0,8)">
                <bs-one-book-info book-info="bookInfo"
                                  should-show-used-books-count="true"
                                  popover-placement="right"
                        ></bs-one-book-info>
            </div>
        </div>

    </div>

    <aside class="col-md-3 hidden-sm hidden-xs">

        <div class="row" ng-if="WechatNews$.newsList.length>0">
            <div class="col-md-12" style="height: 150px;overflow: hidden;margin-bottom: 10px">
                <carousel interval="4000">
                    <slide ng-repeat="news in WechatNews$.newsList">
                        <a target="_blank" ng-href="{{news.attributes.url}}">
                            <img style="width: 100%"
                                 ng-src="{{news.attributes.thumbImageFile.url()}}">

                            <div class="carousel-caption">
                                <h4 ng-bind="news.attributes.title"></h4>
                            </div>
                        </a>
                    </slide>
                </carousel>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>图书分类</h4>
                <hr>
                <tabset type="tabs">
                    <tab ng-repeat="bigTag in BookRecommend$.BookTag.getTagAttrNames()" heading="{{bigTag}}">
                        <a class="btn btn-link btn-sm" style="margin: 5px"
                           ng-repeat="littleTag in BookRecommend$.BookTag.tag[bigTag]"
                           ng-bind="littleTag"
                           ui-sref="book.book-list({cmd:'tag',tag:littleTag})"></a>
                    </tab>
                </tabset>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>微信服务号</h4>
                <hr>
                <h5>书循微信号让旧书交易更简单</h5>
                <ul class="list-unstyled">
                    <li>扫条码找书传书</li>
                    <li>接收买家咨询提醒</li>
                </ul>
                <img ng-src="../img/wechat.png"
                     style="width: 32px;height: 32px"
                     popover-placement="left"
                     popover-template="'scanWechatQRCode.html'"
                     popover-trigger="mouseenter">
            </div>
            <script type="text/ng-template" id="scanWechatQRCode.html">
                <h5 class="center-block">微信扫描二维码使用书循微信号</h5>
                <img ng-src="../img/QRCode.png" class="img-responsive center-block">
            </script>
        </div>

    </aside>
</div>
