<!--一个用户的主页-->
<!DOCTYPE html>
<html lang="zh-CN" ng-app="APP">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <title>{{meta.title}}</title>
    <meta name="keywords" content="{{meta.keywords}}">
    <meta name="description" content="{{meta.description}}">
    <!-- build:Semantic-css -->
    <link href="../bower_components/semantic-ui/dist/semantic.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body class="ui horizontally padded grid" style="padding-top: 75px">

<ng-include src="'../temp/header.html'" d-include-replace></ng-include>

<!-- 主内容区-->
<main class="ui sixteen wide column">
    <div class="ui center aligned grid" ng-controller="d_tool_userHome">

        <!-- 主人信息-->
        <div class="sixteen wide column">
            <div class="ui big horizontal divided list">
                <div class="item">
                    <img class="ui avatar image" ng-src="{{owner.attributes.avatarUrl}}">

                    <div class="content">
                        <h1 class="header">
                            {{owner.attributes.nickName}}
                            <em>
                                <i class="ui icon blue man" ng-if="owner.attributes.sex==1"></i>
                                <i class="ui icon red woman" ng-if="owner.attributes.sex==2"></i>
                            </em>
                        </h1>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <h1 class="header">{{owner.attributes.major}}</h1>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <h1 class="header">{{owner.attributes.startSchoolYear}}级</h1>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <h1 class="header">{{owner.attributes.school}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui horizontal divider">
            <a class="ui circular button">主人要卖的书</a>
        </div>
        <div class="ui grid">
            <!-- 图书列表-->
            <div class="five column row">
                <d-one-used-book class="column" ng-repeat="usedBook in usedBooks"
                                 used-book="usedBook"></d-one-used-book>
            </div>
        </div>

        <div class="ui horizontal divider">
            <a class="ui circular button">主人正需要的书</a>
        </div>
        <div class="ui grid">
            <!-- 图书列表-->
            <div class="five column row">
                <d-one-need-book class="column" ng-repeat="needBook in needBooks"
                                 need-book="needBook"></d-one-need-book>
            </div>
        </div>

    </div>

</main>

<ng-include src="'../temp/footer.html'" d-include-replace></ng-include>

<!-- build:jQuery-js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->
<!-- build:Semantic-js -->
<script src="../bower_components/semantic-ui/dist/semantic.js"></script>
<!-- endbuild -->
<!-- build:Angular-js -->
<script src="../bower_components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:Avos-js -->
<script src="../../../bower_components/avoscloud-sdk/dist/av-core.js"></script>
<!-- endbuild -->
<!-- build:LeanAnalytics-js -->
<script src="../../../bower_components/leancloud-analytics/src/AV.analytics.js"></script>
<!-- endbuild -->
<!-- build:Main-js -->
<script src="../../js/util.js"></script>
<script src="../../js/model.js"></script>
<script src="../../js/analytics.js"></script>
<script src="../js/app.js"></script>
<!--Service-->
<script src="../../js/service/book-recommend.js"></script>
<script src="../../js/service/business-site.js"></script>
<script src="../../js/service/douban-book.js"></script>
<script src="../../js/service/info-service.js"></script>
<script src="../../js/service/book-info.js"></script>
<script src="../../js/service/search-book.js"></script>
<script src="../../js/service/status.js"></script>
<script src="../../js/service/used-book.js"></script>
<script src="../../js/service/user.js"></script>
<script src="../../wechat/js/service/wechat-js.js"></script>
<!--Controller-->
<script src="../js/controller/d_partial_NearUser.js"></script>
<script src="../js/controller/d_topBar.js"></script>
<script src="../js/controller/d_book_searchList.js"></script>
<script src="../js/controller/d_tool_userHome.js"></script>
<!--Directive-->
<script src="../js/directive/dUserInfo.js"></script>
<script src="../js/directive/dIncludeReplace.js"></script>
<script src="../js/directive/dOneBook.js"></script>
<!-- endbuild -->
<script>
    //统计用户行为
    (function () {
        var userObjectId = getQueryParameterByName('userObjectId');
        var analyticsSugue = leanAnalytics.browseUser(userObjectId);
        window.onbeforeunload = function () {
            analyticsSugue.send();
        }
    })();
</script>
</body>
</html>