<!--用户主页-->
<ion-view ng-controller="ion_userHome" view-title="主人的二手书">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ui-sref="book.recommend">书循</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-user-info user="owner" hide-used-book="true"></ion-user-info>
            <!-- 上传的二手书列表-->
            <ion-item class="item-divider item-button-right" id="主人要卖的旧书">主人要卖的旧书</ion-item>
            <ion-one-used-book ng-if="usedBooks.length>0" ng-repeat="usedBook in usedBooks"
                               used-book="usedBook"></ion-one-used-book>
            <ion-item ng-if="usedBooks.length==0" ui-sref="book.recommend">
                主人还没旧书要卖,再去逛逛
            </ion-item>
            <!-- 发布的求书列表-->
            <ion-item class="item-divider item-button-right" id="主人发布的求书">主人发布的求书</ion-item>
            <ion-one-need-book ng-if="needBooks.length>0" ng-repeat="needBook in needBooks"
                               need-book="needBook"></ion-one-need-book>
            <ion-item ng-if="needBooks.length==0" ui-sref="book.recommend">
                主人还没发布过求书,再去逛逛
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>