<!--一本二手书-->
<ion-item class="item-thumbnail-left" ui-sref="tab.book_oneUsedBook({usedBookAvosObjectId:usedBook.id})">
    <img ng-if="usedBook.attributes.info.attributes.image" ng-src="{{usedBook.attributes.info.attributes.image}}">

    <h3 ng-if="usedBook.attributes.info.attributes.title">{{usedBook.attributes.info.attributes.title}}</h3>

    <p>要价:<strong>{{usedBook.attributes.price}}</strong></p>

    <p>时间:<strong>{{usedBook.updatedAt | date:'mediumDate' }}</strong></p>

    <p ng-if="usedBook.attributes.des">描述:{{usedBook.attributes.des}}</p>
</ion-item>
<ion-item ng-if="shouldShowManageBtn" style="text-align: right;padding: 5px">
    <button class="button button-small button-outline button-assertive"
            ng-click="UsedBook$.removeUsedBook(usedBook)">已卖删除
    </button>
    <button class="button button-small button-outline button-balanced"
            ui-sref="tab.person_editOneUsedBook({usedBookId:usedBook.id})">修改信息
    </button>
</ion-item>